html,
body,
#app {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #212020;
  --secondary-color: #ffffff;
  --accent-color: #c6c6c6;
  --background-color: #ffffff;
  --text-color: #ffffff;
  --shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  --font-family: "Poppins", sans-serif;
}

#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #333;
  min-height: 70vh;
}
